#set ( $keyPrefix = "source-source-" )
#set( $mainHeading1 = "A Request Has Been Made !" )
#set( $userInformation = "<font color=#3EC6E0><b>#valueOf('requestedBy')</b></font> has" )
#set( $scenarioMessage = "Please scroll to the bottom to review this request." )

#parse( 'extensions/displayRequest.vm' )
